---
#######################
# Custom: vlan settings
#######################
enable_vlan_provider: {{ enable_vlan_provider }}
vlan_provider_networks:
{% for vlan_provider_network in vlan_provider_networks %}
  - vlan_provider_interface: {{ vlan_provider_network.vlan_provider_interface }}
    vlan_range_start: {{ vlan_provider_network.vlan_range_start }}
    vlan_range_end: {{ vlan_provider_network.vlan_range_end }}
{% endfor %}

###############
# Kolla options
###############
# Valid options are [ COPY_ONCE, COPY_ALWAYS ]
config_strategy: "COPY_ALWAYS"

# Valid options are [ centos, oraclelinux, ubuntu ]
kolla_base_distro: {{ kolla_base_distro }}

# Valid options are [ binary, source ]
kolla_install_type: {{ kolla_install_type }}

# Valid option is Docker repository tag
openstack_release: {{ kolla_ansible_git_version }}

# Location of configuration overrides
node_custom_config: {{ node_custom_config }}

# This should be a VIP, an unused IP on your network that will float between
# the hosts running keepalived for high-availability. If you want to run an
# All-In-One without haproxy and keepalived, you can set enable_haproxy to no
# in "OpenStack options" section, and set this value to the first IP on your
# 'network_interface' as set in the Networking section below.
kolla_internal_vip_address: {{ kolla_internal_vip_address }}

# This is the DNS name that maps to the kolla_internal_vip_address VIP. By
# default it is the same as kolla_internal_vip_address.
kolla_internal_fqdn: {{ kolla_internal_vip_address }}

# This should be a VIP, an unused IP on your network that will float between
# the hosts running keepalived for high-availability. It defaults to the
# kolla_internal_vip_address, allowing internal and external communication to
# share the same address.  Specify a kolla_external_vip_address to separate
# internal and external requests between two VIPs.
kolla_external_vip_address: {{ kolla_external_vip_address }}

# The Public address used to communicate with OpenStack as set in the public_url
# for the endpoints that will be created. This DNS name should map to
kolla_external_fqdn: {{ kolla_external_vip_address }}

################
# Docker options
################
# Below is an example of a private repository with authentication. Note the
# Docker registry password can also be set in the passwords.yml file.

docker_registry: {{ local_docker_registry_url }}
docker_namespace: {{ docker_namespace }}
#docker_registry_username: "sam"
#docker_registry_password: "correcthorsebatterystaple"


##############################
# Neutron - Networking Options
##############################
# This interface is what all your api services will be bound to by default.
# Additionally, all vxlan/tunnel and storage network traffic will go over this
# interface by default. This interface must contain an IPv4 address.
# It is possible for hosts to have non-matching names of interfaces - these can
# be set in an inventory file per host or per group or stored separately, see
#     http://docs.ansible.com/ansible/intro_inventory.html
# Yet another way to workaround the naming problem is to create a bond for the
# interface on all hosts and give the bond name here. Similar strategy can be
# followed for other types of interfaces.
network_interface: {{ network_interface }}

# These can be adjusted for even more customization. The default is the same as
# the 'network_interface'. These interfaces must contain an IPv4 address.
kolla_external_vip_interface: {{ kolla_external_vip_interface }}
api_interface: {{ api_interface }}
storage_interface: {{ storage_interface }}
cluster_interface: {{ cluster_interface }}
tunnel_interface: {{ tunnel_interface }}
dns_interface: {{ dns_interface }}

# This is the raw interface given to neutron as its external network port. Even
# though an IP address can exist on this interface, it will be unusable in most
# configurations. It is recommended this interface not be configured with any IP
# addresses for that reason.
neutron_external_interface: {{ neutron_external_interface }}

# Valid options are [ openvswitch, linuxbidge, vmware_nsxv, vmware_dvs, opendaylight ]
neutron_plugin_agent: {{ neutron_plugin_agent }}


####################
# keepalived options
####################
# Arbitrary unique number from 0..255
keepalived_virtual_router_id: "{{ keepalived_virtual_router_id }}"

###################
# Dimension options
###################
# This is to provide an extra option to deploy containers with Resource constraints.
# We call it dimensions here.
# The dimensions for each container are defined by a mapping, where each dimension value should be a
# string.
# Reference_Docs
# https://docs.docker.com/config/containers/resource_constraints/
# eg:
# <container_name>_dimensions:
#    blkio_weight:
#    cpu_period:
#    cpu_quota:
#    cpu_shares:
#    cpuset_cpus:
#    cpuset_mems:
#    mem_limit:
#    mem_reservation:
#    memswap_limit:
#    kernel_memory:

#############
# TLS options
#############
# To provide encryption and authentication on the kolla_external_vip_interface,
# TLS can be enabled.  When TLS is enabled, certificates must be provided to
# allow clients to perform authentication.
haproxy_enable_external_vip: "{{ haproxy_enable_external_vip }}"
kolla_enable_tls_external: "{{ kolla_enable_tls_external }}"
kolla_external_fqdn_cert: "{{ kolla_external_fqdn_cert }}"
kolla_external_fqdn_cacert: "{{ kolla_external_fqdn_cacert }}"

##############
# OpenDaylight
##############
#enable_opendaylight_qos: "no"
#enable_opendaylight_l3: "yes"

###################
# OpenStack options
###################
# Use these options to set the various log levels across all OpenStack projects
# Valid options are [ True, False ]
#openstack_logging_debug: "False"

# Valid options are [ novnc, spice, rdp ]
nova_console: "novnc"

# OpenStack services can be enabled or disabled with these options
enable_barbican: "no"
enable_central_logging: "no"
enable_ceph: "no"
enable_ceph_rgw: "no"
enable_chrony: "no"
enable_cinder: "yes"
enable_cinder_backup: "yes"
enable_cinder_backend_hnas_iscsi: "no"
enable_cinder_backend_hnas_nfs: "no"
enable_cinder_backend_iscsi: "no"
enable_cinder_backend_lvm: "no"
enable_cinder_backend_nfs: "no"
enable_cloudkitty: "no"
enable_collectd: "no"
enable_congress: "no"
enable_designate: "no"
enable_destroy_images: "no"
enable_etcd: "no"
enable_freezer: "no"
enable_haproxy: "yes"
enable_heat: "no"
enable_horizon: "yes"
enable_horizon_cloudkitty: "no"
enable_horizon_designate: "no"
enable_horizon_freezer: "no"
enable_horizon_ironic: "no"
enable_horizon_karbor: "no"
enable_horizon_magnum: "no"
enable_horizon_manila: "no"
enable_horizon_mistral: "no"
enable_horizon_murano: "no"
enable_horizon_neutron_lbaas: "yes"
enable_horizon_sahara: "no"
enable_horizon_searchlight: "no"
enable_horizon_senlin: "no"
enable_horizon_solum: "no"
enable_horizon_tacker: "no"
enable_horizon_trove: "no"
enable_horizon_watcher: "no"
enable_horizon_zun: "no"
enable_hyperv: "no"
enable_influxdb: "no"
enable_ironic: "no"
enable_karbor: "no"
enable_kuryr: "no"
enable_magnum: "no"
enable_manila: "no"
enable_manila_backend_generic: "no"
enable_manila_backend_hnas: "no"
enable_mistral: "no"
enable_mongodb: "no"
enable_murano: "no"
enable_multipathd: "no"
enable_neutron_bgp_dragent: "no"
enable_neutron_dvr: "{{ enable_dvr }}"
enable_neutron_lbaas: "yes"
enable_neutron_fwaas: "no"
enable_neutron_qos: "no"
enable_neutron_agent_ha: "yes"
enable_neutron_vpnaas: "no"
enable_neutron_sfc: "no"
enable_nova_serialconsole_proxy: "no"
enable_octavia: "no"
enable_opendaylight: "no"
enable_openvswitch: "{{ enable_openvswitch }}"
enable_ovs_dpdk: "no"
enable_osprofiler: "no"
enable_qdrouterd: "no"
enable_rally: "no"
enable_redis: "no"
enable_sahara: "no"
enable_searchlight: "no"
enable_senlin: "no"
enable_skydive: "no"
enable_solum: "no"
enable_swift: "no"
enable_telegraf: "no"
enable_tacker: "no"
enable_tempest: "no"
enable_trove: "no"
enable_vmtp: "no"
enable_watcher: "no"
enable_zun: "no"

enable_panko: "{{ enable_panko }}"
enable_grafana: "{{ enable_grafana }}"
enable_gnocchi: "{{ enable_gnocchi }}"
enable_aodh: "{{ enable_aodh }}"
enable_ceilometer: "{{ enable_ceilometer}}"

##############
# Ceph options
##############
# Ceph can be setup with a caching to improve performance. To use the cache you
# must provide separate disks than those for the OSDs
#ceph_enable_cache: "no"

# Set to no if using external Ceph without cephx.
#external_ceph_cephx_enabled: "yes"

# Ceph is not able to determine the size of a cache pool automatically,
# so the configuration on the absolute size is required here, otherwise the flush/evict will not work.
#ceph_target_max_bytes: ""
#ceph_target_max_objects: ""

# Valid options are [ forward, none, writeback ]
#ceph_cache_mode: "writeback"

# A requirement for using the erasure-coded pools is you must setup a cache tier
# Valid options are [ erasure, replicated ]
#ceph_pool_type: "replicated"

# Integrate ceph rados object gateway with openstack keystone
#enable_ceph_rgw_keystone: "no"

ceph_cinder_pool_name: "volumes"
ceph_cinder_backup_pool_name: "backups"
ceph_glance_pool_name: "images"
ceph_gnocchi_pool_name: "gnocchi"
ceph_nova_pool_name: "vms"


#############################
# Keystone - Identity Options
#############################

# Valid options are [ uuid, fernet ]
keystone_token_provider: {{ keystone_token_provider }}

# Interval to rotate fernet keys by (in seconds). Must be an interval of
# 60(1 min), 120(2 min), 180(3 min), 240(4 min), 300(5 min), 360(6 min),
# 600(10 min), 720(12 min), 900(15 min), 1200(20 min), 1800(30 min),
# 3600(1 hour), 7200(2 hour), 10800(3 hour), 14400(4 hour), 21600(6 hour),
# 28800(8 hour), 43200(12 hour), 86400(1 day), 604800(1 week).
fernet_token_expiry: {{ fernet_token_expiry }}


########################
# Glance - Image Options
########################
# Configure image backend.
glance_backend_ceph: "{{ glance_backend_ceph }}"
glance_backend_file: "{{ not glance_backend_ceph | bool }}"


################################
# Cinder - Block Storage Options
################################
# Enable / disable Cinder backends
cinder_backend_ceph: "{{ cinder_backend_ceph }}"


########################
# Nova - Compute Options
########################
nova_backend_ceph: "{{ nova_backend_ceph }}"

# Valid options are [ qemu, kvm, vmware ]
nova_compute_virt_type: "kvm"


###########################
# Designate - DnaaS Options 
###########################
designate_backend: "{{ designate_backend }}"
designate_ns_record: "{{ designate_ns_record }}"


###############
# Panko options
###############
# Valid options are [ mongodb, mysql ]
panko_database_type: "{{ panko_database_type  }}"

################
# Gnocchi options
#################
# Valid options are [ file, ceph ]
gnocchi_backend_storage: "{{ gnocchi_backend_storage }}"


